<%= render 'dashboard_tabs', :active_tab => 'dashboard' %>
<div id="dashboard_section">
  <div class="inner_container">
    <div id="tabs-1">
      <h2>Welcome, <span class="text-primary"><%= current_user.username %></span></h2>
      <h4>This is the top sentence.... Something can be written in here</h4>


      <div class="row display_videos_module featured_style">
        <div class="col-lg-12"><h2 class="section_title">Today's Feature Class</h2></div>

        <div class="col-lg-12">
          <div class="video_container clearfix">
            <div class="video_item">
              <img alt="rfwqggfweecwdc" class="video_thumb" src="/assets/videos/7/medium/dancedynamics_0180.jpg?1377828263">
              <div class="video_overlay">
                <a href="/videos/7" class="video_popover" data-content="" data-toggle="popover" data-trigger="hover" id="video7"><img alt="Play_button" src="/assets/play_button.png"></a>
                <div class="video_duration"><span>80 min</span></div>
              </div><!--/video_overlay--> 
            </div> <!--/video_item-->
            <div class="video_short_content">
              <div class="video_content_inner">
                <div class="video_level">
                      <span class="glyphicon glyphicon-leaf"></span>
                </div>
                <p>by <a href="/teachers/2">geoff teacher</a></p>
                <div class="social clearfix">
                  <ul class="no_list left_list">
                    <li>
                      <span class="txt">
                        1
                      </span>
                      <span class="glyphicon glyphicon-heart"></span>
                    </li>
                    <li>
                      <span class="txt">1 </span>
                      <span class="glyphicon glyphicon-comment"></span>
                    </li>
                    <li> | </li>
                    <li><a href="#">style1</a></li>
                    <li> | </li>
                    <li><span>80 min</span></li>
                  </ul>
                </div>
                <h2 class="clearfix"><a href="/videos/7">rfwqggfweecwdc</a></h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae tempus mi. Cras consequat eros ut pretium consectetur. Cras augue enim, tincidunt ut odio at, mattis aliquam turpis. MauriLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae tempus mi. Cras consequat eros ut pretium consectetur. Cras augue enim, tincidunt ut odio at, mattis aliquam turpis. MauriLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae tempus mi. Cras consequat eros ut pretium consectetur. Cras augue enim, tincidunt ut odio at, mattis aliquam turpis. Mauri... <a href="/videos/7">more</a>
                </p>
              </div><!--/video_content_inner-->
            </div><!--/video_short_content-->
          </div>
        </div>
        <hr/>
        <div class="col-lg-12">
          <h2 class="section_title">This Week's Featured Teachers Classes</h2>
        </div>
        <div class="col-lg-12">
          <div class="well clearfix">
        <div class="col-lg-6">
          <div class="video_container clearfix">
            <div class="video_item">
              <img alt="rfwqggfweecwdc" class="video_thumb" src="/assets/videos/7/medium/dancedynamics_0180.jpg?1377828263">
              <div class="video_overlay">
                <a href="/videos/7" class="video_popover" data-content="" data-toggle="popover" data-trigger="hover" id="video7"><img alt="Play_button" src="/assets/play_button.png"></a>
                <div class="video_duration"><span>80 min</span></div>
              </div><!--/video_overlay--> 
            </div> <!--/video_item-->
            <div class="video_short_content">
              <div class="video_content_inner">
                <div class="video_level">
                      <span class="glyphicon glyphicon-leaf"></span>
                </div>
                <p>by <a href="/teachers/2">geoff teacher</a></p>
                <div class="social clearfix">
                  <ul class="no_list left_list">
                    <li>
                      <span class="txt">
                        1
                      </span>
                      <span class="glyphicon glyphicon-heart"></span>
                    </li>
                    <li>
                      <span class="txt">1 </span>
                      <span class="glyphicon glyphicon-comment"></span>
                    </li>
                    <li> | </li>
                    <li><a href="#">style1</a></li>
                  </ul>
                </div>
                <h2 class="clearfix"><a href="/videos/7">rfwqggfweecwdc</a></h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae tempus mi. Cras consequat eros ut pretium consectetur. Cras augue enim, tincidunt ut odio at, mattis aliquam turpis. Mauri... <a href="/videos/7">more</a>
                </p>
              </div><!--/video_content_inner-->
            </div><!--/video_short_content-->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="video_container clearfix">
            <div class="video_item">
              <img alt="rfwqggfweecwdc" class="video_thumb" src="/assets/videos/7/medium/dancedynamics_0180.jpg?1377828263">
              <div class="video_overlay">
                <a href="/videos/7" class="video_popover" data-content="" data-toggle="popover" data-trigger="hover" id="video7"><img alt="Play_button" src="/assets/play_button.png"></a>
                <div class="video_duration"><span>80 min</span></div>
              </div><!--/video_overlay--> 
            </div> <!--/video_item-->
            <div class="video_short_content">
              <div class="video_content_inner">
                <div class="video_level">
                      <span class="glyphicon glyphicon-leaf"></span>
                </div>
                <p>by <a href="/teachers/2">geoff teacher</a></p>
                <div class="social clearfix">
                  <ul class="no_list left_list">
                    <li>
                      <span class="txt">
                        1
                      </span>
                      <span class="glyphicon glyphicon-heart"></span>
                    </li>
                    <li>
                      <span class="txt">1 </span>
                      <span class="glyphicon glyphicon-comment"></span>
                    </li>
                    <li> | </li>
                    <li><a href="#">style1</a></li>
                  </ul>
                </div>
                <h2 class="clearfix"><a href="/videos/7">rfwqggfweecwdc</a></h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae tempus mi. Cras consequat eros ut pretium consectetur. Cras augue enim, tincidunt ut odio at, mattis aliquam turpis. Mauri... <a href="/videos/7">more</a>
                </p>
              </div><!--/video_content_inner-->
            </div><!--/video_short_content-->
          </div>
        </div>
      </div><!--/well-->
    </div>
  </div>

  

    </div>
  </div>
</div>