<% if current_user %>
  <div class="favorite_button_container clearfix">
    <% if current_user.favorites.include? @video %>
      <%= render 'videos/unfavorite' %>
    <% else %>
      <%= render 'videos/favorite' %>
    <% end %>
  </div>
<% end %>