<table class="table table-hover">
                <thead>
                  <tr>
                    <th>Our Membership Benefits</th>
                    <th class="text-center">Basic Subscription<br/><small>Free - Upgrade Anytime</small></th>
                    <th class="text-center">Monthly Subscription<br/><small>15 days Free Trial</small></th>
                    <th class="text-center">Bronze Package<br/><small>Up to 20 Subscribers</small></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Monthly subcription rate</td>
                    <td class="text-center">FREE</td>
                    <td class="text-center">$10<br/>15 days Free Trial</td>
                    <td class="text-center">$100</td>
                  </tr>
                  <tr>
                    <td>Unlimited access to all streaming videos</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                  </tr>
                  <tr>
                    <td>Full Access to Whole Dance/Fitness Programs</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                  </tr>
                  <tr>
                    <td>Access our entire community</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                  </tr>
                  <tr>
                    <td>Weekly DanceDynamics Newsletter</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                  </tr>
                  <tr>
                    <td>Comment and post on blogs and videos</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                  </tr>
                  <tr>
                    <td>Articles on DanceDynamics</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                    <td class="text-center">Column content</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="text-center"><%= link_to "Subscribe", users_new_payment_method_path, :class => "btn btn-primary btn-lg" %></td>
                    <td class="text-center"><%= link_to "Subscribe", users_new_payment_method_path, :class => "btn btn-primary btn-lg" %></td>
                    <td class="text-center">Skip This</td>
                  </tr>
                </tbody>
              </table>