<% if current_user %>
  <div class="favorite_button_container clearfix pull-right">
    <% if current_user.favorites_teacher.include? @teacher %>
      <%= render 'teachers/unfavorite' %>
    <% else %>
      <%= render 'teachers/favorite' %>
    <% end %>
  </div>
<% end %>