<div id="teachers_section">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="teacher_title">Most Recent <%= @level.name %> Classes</h2 class="teacher_title">
		</div>
	</div><!--/row-->
</div><!--/teachers-section-->
<%= render 'level_video_list' %>


