@import "css3-mixins";
#dashboard_section.admin_dashboard{
	color: rgb(81, 90, 98);
	font-family: arial, helvetica, verdana, geneva, sans-serif;
	font-size: 12px;
	#video_search_form{margin-top:20px;}
	.table{
		margin-top: 20px;
		.btn-warning{
			margin-left:1em;
		}
	}
	&.admin_style, &.admin_video{
		.table{
			.description{
				width: 30%;
			}
		}
		.add_new_style_btn{
			.glyphicon{margin-right: 0.5em;}
		}
	}
}

