/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require fancybox
 *= require_tree .
 */

/* // Place all the styles related to the styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/*
 Typography
$sansFontFamily:        arial, helvetica, verdana, geneva, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:          10px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        20px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor

$font-size-base:        13px;
$font-family-base:      arial, helvetica, verdana, geneva, sans-serif;*/
$headings-font-family:  Arvo, serif;
/*$headings-font-weight:  bold;
$line-height-base:      1.3;
$link-color:            #fff; */         
@import "css3-mixins";
@import "twitter/bootstrap";
@import "bootstarp_united";

body{
	line-height: 130%;
	background:#F5F5F5;
	background: url(bg-1.png) repeat #e3e3e3;
	/* #e4e8ee*/
}
.container.main_body{padding-top: 50px;}
.home.index{
	.container.main_body{padding-top: 0px;}
}
.video_title{
	color: #FA2A00;
	a{
		color: inherit;
	}
}
.inner_container{
	padding: 1em 2em;
}
img{max-width: 100%;}
.title{
	margin-top: 0;
	margin-bottom: 1em;
}
.no_list{
	list-style-type: none;
	li{
		margin-right: 1em;
	}
	&.left_list{
		margin-left: 0;
		padding-left: 0;
		li{
			float: left;
		}
	}
}

.dashboard_section{
	background: white;
	border: 1px solid #d0d0d0;
	padding: 19px;
	position: relative;
	margin-bottom: 20px;
	.video_information_section{
		position: absolute;
		background: #eca918;
		color: white;
		right: 0;
		top: 0;
		height: 100%;
		padding: 50px 20px;
		.add_favorites{
			position: absolute;
			bottom: 20px;
			right: 20px;

		}
	}
}
.gray_box{
	background: #f3f3f3;
	border: 1px solid #fff;
	@include border-radius(5px);
	@include box-shadow(0 1px 3px rgba(0,0,0,0.5));
	position: relative;
	&.gray_box_top_margin{
		margin-top: 8em;
		.box_header{
			margin-bottom: 2em;
			padding: 1em 2em;
		}
	}
	.dancing_shadows{
		position: absolute;
		opacity: 0.15;
		top: -1em;
		right: -16em;
	}
	.box_header{
		padding: 0.5em 1em;
		overflow: auto;
		background: #d4dedf;
		border-bottom: 1px solid #fff;
		@include box-shadow(0 -1px 0 rgba(0,0,0,0.15) inset);
		h2{
			margin: 0;
			@include text-shadow(1px, 1px, 0, rgba(255,255,255,1.0) );
		}
	}
	.form-control{display: inline-block;}
}

.color_lines{
	background: url(dancing_bg.png) repeat-x;
	background-size: 100%;
	position: relative;
}
input[type="radio"], 
input[type="checkbox"] {
	margin: 2px 0 0;
}
.small_label{
	font-size: 11px;
}
.inline_form_select{
	width: auto !important;
	display: inline !important;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea.form-control{
	padding: 0.8em 1em;
	font-size: 14px;
	border-width: 2px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(255,255,255,1.0);
	background: #fff;
	border: 1px solid #ddd;
	@include border-radius(5px);
	@include box-shadow(0 1px 3px rgba(153,153,153,0.8) inset);
	@include transition(all 0.5s ease-in-out);
	&.input-small{
		width: 10%;
	}
	&:hover{
		background: #f0f0f0;
		color: #414848;
	}
	&:focus{
		border-color:#999;
		box-shadow: none;
		background: #dfe9ec;
		color: #414848;
	}
}
.field_with_errors{
	.message{
		color: #d00;
		font-size: 11px;
		padding-left: 5px;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea{
		border-color: rgb(246, 142, 142);
	}
}
.box_divider{
	border-right: 1px solid #fff;
	@include box-shadow(-1px 0px 0 rgba(0,0,0,0.15) inset);
}
.blue-button{
	padding: 0.5em 1.5em;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	@include text-shadow(0px 1px 0 rgba(0,0,0,0.25));
	background: #56c2e1;
	border: 1px solid #46b3d3;
	@include border-radius(5px);
	cursor: pointer;
	@include box-shadow(0 0 2px rgba(255,255,255,0.75) inset);
	@include transition(all 0.5s ease-in-out);
	&:hover, &:active{
		background: #3f9db8;
		color: white;
		border: 1px solid rgba(255,255,255,0.75);
		@include box-shadow(0 1px 3px rgba(0,0,0,0.5) inset);
	}
}
.profile_avatar{
	background: white;
	border:5px solid #ddd;
	float: left;
	padding: 5px;
}
.purple{
	color:#772953;
}

/* VIDEO INDEX PAGE */

.thumbnail{margin-bottom: 2em;}

#user_registration_popup{
	padding: 0 2em 2em;
	.register_benefits{
		line-height: 1.5em;
		span{margin-right: 0.5em;}
	}
}

.fancybox-skin{background: orange !important;}
.fancybox-close{display: none !important;}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

*{
	-webkit-box-sizing: border-box !important;
	   -moz-box-sizing: border-box !important;
	        box-sizing: border-box !important;
}
.display_videos_module{
	@include p_style;
	.video_container{
		margin-bottom: 2em;
		@include main_box;
		.video_item{
			@include border-radius(3px 3px 0 0);
			text-align: center;
			position: relative;
			top:0;
			left:0;
			.video_thumb{
				vertical-align: top;
			}

			.video_overlay{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.42) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.42))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-8 */

				@include transition(background-color 0.3s ease-in-out);
				a{
					display: block;
					height: 100%;
					text-align: center;
					position: relative;
					img{
						top: 50%;
						position: absolute;
						left: 50%;
						right: 50%;
						margin-left: -32px;
						margin-top: -32px;
						opacity: 0;
						@include transition(opacity 0.3s ease-in-out);
					}
				}
			}
			&:hover{
				.video_overlay{
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.42) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.42))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.42) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#6b000000',GradientType=0 ); /* IE6-8 */
					background-color: rgba(0,0,0,0.4);
					a{
						img{
							opacity: 1;
						}
					}
				}
			}
			.video_duration{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: #40c781;
				position: absolute;
				top: -10px;
				right: -10px;
				span{
					position: absolute;
					top: 14px;
					left: 8px;
					font-size:11px;
					color:#fff;
				}
			}
		}
		a{
			&:hover{
				text-decoration:none;
			}
		}
		p{
			margin-bottom: 0;
		}
		h2{
			margin: 0 0 0.5em 0;
			a{
				font-weight: bold;
				color: #666;
				font-size: 13px;
			}
		}
		.popover{
			width: 100%;
			max-width: none;
			font-size: 12px;
			line-height: 1.1em;
		}
		.video_short_content{
			position: relative;
			border-top: 2px solid #333;
			.video_content_inner{
				padding: 1em;
				.video_level{
					color:#40c781;
					position:relative;
					float:right;
					text-align: right;
				}
				.social{margin-bottom: 1em;}
			}
		}
	}
	 
}
#search_section{display:none;}
#class_filter{
	margin-bottom: 1em;
	padding: 0.1em 2em;
	span.txt{
		margin-right: 0.5em;
	}
}
/* SEARCH FORM */
#video_search_form{
	input[type="text"]{
		width: 100%;
	}
	.search_dark{
		background: url(debut_dark.png) repeat;
		color: white;
		text-shadow: 0 1px 1px #000;
		font-weight: normal;
	}
	
	.search_submit{
		display: none;
	}
	.level_search{
		input[type="checkbox"]{
			display: none;
			&:checked{

			}
		}
		label.level_buttons{
			color: #717171;
			font-size: 11px;
			background: #d3d3d3;
			background: -moz-linear-gradient(top, #d3d3d3 0%, #8a8a8a 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a));
			background: -webkit-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
			background: -o-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
			background: -ms-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
			background: linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);

			display: inline-block;
			position: relative;
			margin-left: 0.3em;
			padding: 0.5em 0.8em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 1px 1px 1px rgba(255,255,255,.22);
			font: bold 12px/25px Arial, sans-serif;
			@include border-radius(10px);
			-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
			-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
			box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
			-webkit-transition: all 0.15s ease;
			-moz-transition: all 0.15s ease;
			-o-transition: all 0.15s ease;
			-ms-transition: all 0.15s ease;
			transition: all 0.15s ease;
			cursor: pointer;
			&:hover{
				-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
				-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
				box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
				color: #09B45B;
			}
			&.checked{
				background: #c3c3c3;
				box-shadow: inset 0px 1px 2px #000,0 0 2px #fff;
				color: #09B45B;
			}
		}
	}
	 .duration_min{margin: 2.8em 0 0;}
	 #duration_slider_result {
		color:#fff;
		text-shadow:0 1px 1px #000;
	}
	.table{
		td,th{
			border:none !important;
			
			max-width: 20%;
		}
		
	}
}

.duration_slider {
	margin-top: 14px;
	width:100%;
	height:12px;
	border: 1px solid #ddd;
	background: #eee url(slider_bg.png) 50% top repeat-x;
	color: #333;
	position:relative;
	margin-top:14px;
	@include border-radius(3px);
}
 
/*Style for the slider button*/
.ui-slider-handle {
	width:24px;
	height:24px;
	position:absolute;
	top:-7px;
	margin-left:-12px;
	z-index:200;
	background:url(images/slider-button.png);
	outline: none !important;
	-moz-outline-style:none;
}
.duration_min{margin: 1em 0 0;}
/*Result div where the slider value is displayed*/
#duration_slider_result {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:700;
	padding:10px 0;

}
/*This is the fill bar colour*/
.ui-slider .ui-widget-header {
	position: absolute;
	z-index: 1;
	height: 10px;
	font-size: .7em;
	display: block;
	border: 1px solid #FFF;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#cccccc), to(#bdbdbd));
	background-image: -webkit-linear-gradient(top, #cccccc, 0%, #bdbdbd, 100%);
	background-image: -moz-linear-gradient(top, #cccccc 0%, #bdbdbd 100%);
	background-image: linear-gradient(to bottom, #cccccc 0%, #bdbdbd 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffbdbdbd', GradientType=0);
	border-color: #b3b3b3;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffa929), to(#ff9d0a));
	background-image: -webkit-linear-gradient(top, #ffa929, 0%, #ff9d0a, 100%);
	background-image: -moz-linear-gradient(top, #ffa929 0%, #ff9d0a 100%);
	background-image: linear-gradient(to bottom, #ffa929 0%, #ff9d0a 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffa929', endColorstr='#ffff9d0a', GradientType=0);
	border-color: #cc7a00;
}


/* Buttons */
.item-button{
	border-radius:3px;
	width:30px;
	height:30px;
}
.item-button.play{
	background-color:#40c781;
	position: absolute;
	top: 15px;
	left: 15px;
	opacity:0;
	background-image: url(http://webstudios.dk/resources/img/play-img.png);
}
.item-button.play:hover{
	background-color:#34a46c;
	}
.container-item:hover .item-button.play{
	opacity:1;
}

.item-button.share{
	background-color:#4f4f4f;
	position: absolute;
	top: 50px;
	left: 15px;
	opacity:0;
	background-image: url(http://webstudios.dk/resources/img/share-img.png);
}
.item-button.share:hover{
	background-color:#333333;
	}
.container-item:hover .item-button.share{
	opacity:1;
}
.btn.buy{
	background-color: #40c781;
	text-align:center;
	line-height:42px;
	font-weight:700;
	color:#fff;
	border-radius:3px;
	text-decoration:none;
	opacity:1;
	border:0px solid #35a76e;
	border-bottom-width:2px;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}
.btn.buy:hover{
	background-color:#34a46c;
}
.expand{
	display:block;
}


/* content */

.item-product{
	width:70%;
	float:left;
}


/*Prduct title*/
h2{
	font-size:1em;
	font-weight:400;
	color:#222;
}

.item-product-price .subdescription{
	color:#7d7d7d;
}
.old-price{
	border:0 solid #7d7d7d;
	border-bottom-width:1px;
	margin-top:-11px;
	width:30px;
	position:absolute;
	right:-2px;
	bottom:10px;
	-webkit-transform: rotate(-30deg);
	   -moz-transform: rotate(-30deg);
	    -ms-transform: rotate(-30deg);
	     -o-transform: rotate(-30deg);
	        transform: rotate(-30deg);
}

.item-add-content .section:last-of-type{
	margin-bottom:0;
}
.item-add-content h4{
	font-weight:600;
	color:#222;
	font-size:0.8em;
}
.item-add-content p{
	font-size:0.8em;
}


/* Item menu */
.item-menu{
	position: absolute;
	top:3px;
	left:0px;
	height:254px;
	width:260px;
	border-radius:3px 0 0 3px;
	background:#4f4f4f;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	        box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	     -o-transform: translate(0,0);
	        transform: translate(0,0);
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.item-menu.visible{
	-webkit-transform: translate(-70px,0);
	   -moz-transform: translate(-70px,0);
	    -ms-transform: translate(-70px,0);
	     -o-transform: translate(-70px,0);
	        transform: translate(-70px,0);
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.item-menu:hover{
	-webkit-transform: translate(-70px,0);
	   -moz-transform: translate(-70px,0);
	    -ms-transform: translate(-70px,0);
	     -o-transform: translate(-70px,0);
	        transform: translate(-70px,0);
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
/*List*/
.popout-menu ul{
	list-style-type:none;
}
.popout-menu ul li{
	-webkit-box-shadow: inset 0px 1px rgba(255,255,255,0.1);
	        box-shadow: inset 0px 1px rgba(255,255,255,0.1);
	border-bottom:1px solid #434343;
}
.popout-menu ul li:first-of-type{
	-webkit-border-radius: 3px 0;
	        border-radius: 3px 0;
}
.popout-menu ul li:last-of-type{
	border-bottom-width:0px;
}
.popout-menu ul li:hover{
	background:#434343;
}
.popout-menu ul li a{
	color:#eaeaea;
	font-weight:600;
	font-size:0.8em;
	text-decoration:none;
	line-height: 36px;
	padding:0 15px;
	display:block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/* LOGIN PAGE */

.account-container {
	width: 390px;
	display: block;
	margin: 30px auto 0 auto;
	background: #fff;
	border: 1px solid #d5d5d5;
	@include border-radius(5px);
	color: rgb(81, 90, 98);
	font-family: arial, helvetica, verdana, geneva, sans-serif;
	h1{
		margin-bottom: .4em;
		color: #ff6805;
		font-size: 32px;
		margin-top: 0;
		border-bottom: 1px dotted #ddd;
		padding-bottom: 0.4em;
	}
	.login-fields{
		.field{
			margin-bottom: 1.25em;
		}
		label{
			display: none;
		}
		input{
			font-size: 13px;
			color: #8e8d8d;
			padding: 11px 15px 10px 50px;
			background-color: #fdfdfd;
			width: 100%;
			display: block;
			margin: 0;
			box-shadow: inset 2px 2px 4px #f1f1f1;
			height: 40px;
		}
	}
}

.username-field {
	background: url(user_login.png) no-repeat !important;
}
.password-field {
	background: url(password.png) no-repeat !important;
}
.email-field {
	background: url(icon_email.png) no-repeat !important;
}
.field_with_errors{
	.email-field {
		background: url(icon_email_error.png) no-repeat !important;
		box-shadow: inset 1px 1px 4px #ffd1d1 !important;
	}
}
.login-actions {
	float: left;
	width: 100%;
	margin-top: -1em;
	margin-bottom: 1.25em;
	span.login-checkbox {
	float: left;
	margin-top: 31px;
	}

	span.login-checkbox > input[type='checkbox'] {
	    opacity: 0;
	    float: left;
	    width: 15px;
	}

	span.login-checkbox > input[type='checkbox'] + label {    
	    clear: none;
	    
		height: 15px; 
		display: block;
	    padding: 0 0 0 22px;
	    margin: 0;
	    font-size: 12px;
	    line-height: 1.2em;
	    background: url(check.png) no-repeat 0 0;
	    padding-top: 1px;
	    cursor: pointer;
	}

	span.login-checkbox > input[type='checkbox']:checked + label {	
		background-position: 0 -15px;
	}

	.login-action {
		float: right;
		margin-top: 18px;
	}
}
.login-social {
	float: left;
	padding: 10px 0 15px;
	border: 1px dotted #CCC;
	border-right: none;
	border-left: none;
}
.content {
	padding: 16px 28px 23px;
}
/** Social login Buttons **/
.twitter, .fb {
	position: relative;
	
	height: 32px; 
	width: 157px; 
	display: block;
	background: url(twitter_btn.png) no-repeat; 
	
}

.fb {
	width: 162px; 
	background: url(fb_btn.png) no-repeat top right; 	
}

.twitter:active, .fb:active {
	top: 1px;
}

.twitter:hover{
	background-position: 0 -32px;
}
.fb:hover {
	background-position: bottom right;
}

.twitter a, .fb a {
	padding: 7px 0 0 35px; 
	text-shadow: -1px -1px 0px rgba(0,0,0,.3); 
	color:#fff; 
	font-weight: bold; 
	font-size: 11px; 
	height: 32px; 
	display: block;	
}

.fb a {
	padding: 7px 0 0 37px; 
	
}

.twitter, .fb {
	display: inline-block;
}

.twitter a:hover, .fb a:hover {
	color: #FFF;
	text-decoration: none;
}

/** Text Under Box**/
.login-extra {
	display: block; 
	width: 300px; 
	margin: 1.5em auto;
	font-size: 12px;
	text-align: center;
	line-height: 19px; 
	color: rgb(81, 90, 98);
	font-family: arial, helvetica, verdana, geneva, sans-serif;
	text-shadow: 1px 1px 0px #fff; 	
}


/*------------------------------------------------------------------
[ Stacked / .stacked ]
*/
.stacked {
  position: relative;
}
.stacked:after,
.stacked:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  bottom: -2px;
  left: 3px;
  right: 3px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #d3d3d3;
  border-top: 0;
}
.stacked:before {
  bottom: -4px;
  left: 6px;
  right: 6px;
}