@import "css3-mixins";

#dashboard_tabs{
	display: block;
	.inner_container{
		padding-bottom: 0;
	}
	ul{
		margin-bottom: 0;
		li{
			float: left;
			margin-right: 0.5em;
			&.last{
				margin-right: 0;
			}
			&.active{
				a{
					
				}
			}
			a{
				@include border-radius-separate(5px, 5px, 0, 0);
				border:1px solid #ddd;
				display: block;
				padding: 0.5em 2em;
				color: #ccc;
				background: #f8f8f8;
				font-weight: bold;
				text-transform: capitalize;
				font-size: 12px;
				text-align: center;
				width: 200px;
				@include transition(all, 0.1s, ease-in-out);
				&:hover{
					text-decoration:none;
					background: white;
					border-color: #ddd;
					color: rgb(81, 90, 98);
					@include transition(all, 0.1s, ease-in-out);
				}
				i.glyphicon{
					position: relative;
					top: 2px;
					display: inline-block;
					width: 24px;
					height: 24px;
					margin-bottom: 9px;
					font-size: 21px;
				}
				span{
					display:block;
				}
				img{
					margin-top:10px;
					max-height: 35px;
				}
			}
			&.dashboard a.dashboard,
			&.profile a.profile,
			&.my_class a.my_class,
			&.billing a.billing,
			&.levels a.levels,
			&.styles a.styles,
			&.videos a.videos,
			&.plans a.plans,
			&.teachers a.teachers,
			&.users a.users{
				position: relative;
				background: white;
				color: #dd4814;
				z-index: -1;
				border-bottom: 0;
				bottom: -1px;
				z-index: 5;
				border-color: #ddd;
				&:hover{
					text-decoration:none;
					opacity: 1;
				}
			}
		}
	}
	&.admin_dashboard_tabs{
		ul{
			li{
				a{width:auto;}
			}
		}
	}
}

#dashboard_section{
	@include box-shadow(0, 1px, 5px, rgba(0,0,0,0.3));
  	@include border-radius(3px);
  	background:white;
  	h2{
  		color: rgb(81, 90, 98);
  		@include text-shadow(1px, 1px, 1px, #fff);
  		font-size: 2em;
  	}
  	.display_videos_module{

  		margin-top: 30px;
  		&.featured_style{
  			.video_container{
  				margin-bottom: 0;
  				.video_content_inner{
  					padding-bottom:0;
  				}
  			}
  			.video_item{
  				float: left;
  				width: 51%;
  				.video_duration{
  					display: none
  				}
  			}
  			.video_short_content{
  				float: left;
  				width: 49%;
  				border-top: none;
  				.social{
  					margin-bottom: 0.1em;
  				}
  			}
  		}
  		&.favorites{
  			.video_container{
  				margin-bottom: 20px;
  				position: relative;
  				.video_content_inner{
  					padding:1em;
  				}
  				.video_item{
	  				width: 36%
	  			}
	  			.video_short_content{width: 34%}
	  			.video_notes{
	  				width: 28%;
	  				float: right;
	  				border-left: 1px dashed #ddd;
	  				position: absolute;
	  				height: 100%;
	  				right: 0;
	  				.small_title{
	  					margin-top: 0;
						color: #dd4814;
						font-size: 14px;
						border-bottom: 1px solid #ddd;
						padding-bottom: 1em;
	  				}
	  				#favorite_video_user_notes{
	  					width: 100%;
						border: none;
						outline: none;
						color: rgb(81, 90, 98);
	  				}
	  				#submit_user_notes{
	  					display: none;
	  				}
	  			}
  			}
  		}
  	}
  	.section_title{
		margin-bottom: 1em;
		font-size: 1.8em;
		margin-top: 0;
	}
	.btn-danger{margin-left: 1em;}
	.make-default{margin-right: 1em;}
	.table{
		th{
			font-weight: bold;
		}
	}
	.class_tabs{
		margin-top: 1em;
		li{
			float: left;
			a{
				display: block;
				color: white;
				background-color: #dd4814;
				border-color: #dd4814;
				padding: 0.8em 1.2em;
				outline: none;
				&:hover{
					text-decoration:none;
					background-color: #F35119;
					
				}
				&:active{
					background-image: none;
					outline: 0;
					-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
					box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
				}
			}
			&.ui-tabs-active{
				a{
					color: #ffffff;
					background-color: #b83c11;
					border-color: #a5360f;
					text-decoration: none;
					-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
					box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
				}
			}
		}
	}
	.card_image{
		max-width: 60px;
	}
	/*------------------------------------------------------------------
	[ Widget / .widget ]
	*/
	.widget {
	  position: relative;
	  clear: both;
	  width: auto;
	  margin-bottom: 2em;
	  /* Clearfix Hack */

	  /* Widget Table */

	  /* Widget Plain */

	  /* Widget Box */

	}
	.widget .widget-header {
	  position: relative;
	  height: 40px;
	  line-height: 40px;
	  background: #E9E9E9;
	  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	  /* FF3.6+ */

	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
	  /* Chrome,Safari4+ */

	  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	  /* Chrome10+,Safari5.1+ */

	  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	  /* Opera11.10+ */

	  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	  /* IE10+ */

	  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	  /* W3C */

	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	  border: 1px solid #D5D5D5;
	  -webkit-border-top-left-radius: 4px;
	  -webkit-border-top-right-radius: 4px;
	  -moz-border-radius-topleft: 4px;
	  -moz-border-radius-topright: 4px;
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
	  -webkit-background-clip: padding-box;
	}
	.widget .widget-header h3 {
	  margin-top: 0px;
	  top: 2px;
	  position: relative;
	  left: 10px;
	  display: inline-block;
	  margin-right: 3em;
	  font-size: 15px;
	  font-weight: 400;
	  color: #555;
	  line-height: 18px;
	  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
	}
	.widget .widget-header [class^="icon-"],
	.widget .widget-header [class*=" glyphicon-"] {
	  display: inline-block;
	  margin-top: -3px;
	  margin-left: 13px;
	  margin-right: -2px;
	  font-size: 16px;
	  color: #555;
	  vertical-align: middle;
	}
	.widget .widget-content {
	  padding: 25px 15px 15px;
	  background: #FFF;
	  border: 1px solid #D5D5D5;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	}
	.widget .widget-header + .widget-content {
	  border-top: none;
	  -webkit-border-top-left-radius: 0;
	  -webkit-border-top-right-radius: 0;
	  -moz-border-radius-topleft: 0;
	  -moz-border-radius-topright: 0;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	.widget.widget-nopad .widget-content {
	  padding: 0;
	}
	.widget .widget-content:before,
	.widget .widget-content:after {
	  content: " ";
	  /* 1 */

	  display: table;
	  /* 2 */

	}
	.widget .widget-content:after {
	  clear: both;
	}
	.widget .widget-content:before,
	.widget .widget-content:after {
	  content: " ";
	  /* 1 */

	  display: table;
	  /* 2 */

	}
	.widget .widget-content:after {
	  clear: both;
	}
	.widget.widget-table .widget-content {
	  padding: 0;
	}
	.widget.widget-table .table {
	  margin-bottom: 0;
	  border: none;
	}
	.widget.widget-table .table tr td:first-child,
	.widget.widget-table .table tr th:first-child {
	  border-left: none;
	}
	.widget.widget-plain {
	  background: transparent;
	  border: none;
	}
	.widget.widget-plain .widget-content {
	  padding: 0;
	  background: transparent;
	  border: none;
	}
	.widget.widget-box .widget-content {
	  background: #E3E3E3;
	  background: #FFF;
	}
}

/*------------------------------------------------------------------
[2. Stats / .stats]
*/

.stats {
	width: 100%;
	display: table;
	padding: 0 0 0 10px;
	margin-top: .5em;
	margin-bottom: 1.9em;
	.stat {
		display: table-cell;
		width: 40%;
		vertical-align: top;
		
		font-size: 11px;
		font-weight: bold;
		color: #999;
	}
	#donut-chart {
		height: 100px;
		margin-left: -20px;	
	}
}


.stat-value {
	display: block;
	margin-bottom: .55em;
	
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #444;
}

.stat-time {
	text-align: center;
	padding-top: 1.5em;
	.stat-value {
		color: #F90;
		font-size: 40px;
	}
}

/*------------------------------------------------------------------
[ Shortcuts / .shortcuts ]
*/
.shortcuts {
  	text-align: center;
  	.shortcut {
	  	width: 110px;
	  	display: inline-block;
	  	padding: 15px 0;
	  	margin: 0 5px 1em;
	  	vertical-align: top;
	  	text-decoration: none;
	  	background: #F3F3F3;
	  	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#eeeeee));
	  	background-image: -webkit-linear-gradient(top, #ffffff, 0%, #eeeeee, 100%);
	  	background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	  	background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	  	background-repeat: repeat-x;
	  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
	  	border: 1px solid #ddd;
	  	box-sizing: border-box;
	  	@include border-radius(5px);
	  	.shortcut-icon {
			width: 100%;
			margin-top: .25em;
			margin-bottom: .35em;
			font-size: 27px;
			color: #555;
		}
		&:hover{
			background: #E8E8E8;
			background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#e1e1e1));
			background-image: -webkit-linear-gradient(top, #fafafa, 0%, #e1e1e1, 100%);
			background-image: -moz-linear-gradient(top, #fafafa 0%, #e1e1e1 100%);
			background-image: linear-gradient(to bottom, #fafafa 0%, #e1e1e1 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe1e1e1', GradientType=0);
			.shortcut-icon {
			  	color: #666;
			}
		}
		&:active {
			@include box-shadow(inset, 0, 3px, 5px, rgba(0, 0, 0, 0.125))
		}
	}
	.shortcut-label {
	  display: block;
	  margin-top: .75em;
	  font-weight: 400;
	  color: #666;
	}
}

/*------------------------------------------------------------------
[3. Comments Item / .news-items]
*/

.news-items {
	padding: 0;
	margin: 1em 0 0;
}

.news-items li {
	display: table;
	padding: 0 2em 0 1.5em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	width: 100%;
	border-bottom: 1px dotted #CCC;
}

.news-items li:last-child { padding-bottom: 0; border: none; }

.news-item-date {
	display: table-cell;
}

.news-item-detail {
	display: table-cell;
}

.news-item-title {
	font-size: 13px;
	font-weight: 600;
}

.news-item-date {
	width: 75px;
	vertical-align: middle;
	text-align: right;
	&.date_image{
		background: #f9f9f9;
		border: 1px solid #eee;
		padding: 3px;
		@inlcude border-radius(3px);
	}
}

.news-item-day {
	display: block;
	margin-bottom: .25em;
	
	font-size: 24px;
	color: #888;
}

.news-item-preview {
	margin-bottom: 0;
	
	color: #777;
}

.news-item-month {
	display: block;
	padding-right: 1px;	
	
	font-size: 12px;
	font-weight: 600;
	color: #888;
}

