@import "css3-mixins";

#video_section{
	.video_box{
		@include box-shadow(0, 1px, 5px, rgba(0,0,0,0.3));
	  	@include border-radius(3px);
	  	background:white;
	}
  	.video_title{
  		color: #dd4814;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 1px 1px 1px #eee;
		text-transform: uppercase;
		margin-bottom: 1em;
  	}
  	.video_level{
  		color: #40c781;
		position: relative;
		margin-right: 1em;
  	}
  	#video_info{
  		color: rgb(81, 90, 98);
		font-family: arial, helvetica, verdana, geneva, sans-serif;
		font-size: 12px;
  	}
  	#video_social{
  		font-size: 12px;
	  	.commented_by{
	  		color: #dd4814;
	  		margin-right: 1em;
	  	}
	  	.favorited_by{
	  		color: #f17a77;
	  	}
	  	.duration{
	  		margin-right: 1em;
	  		color: #28a4c9;
	  	}
  	}
  	
  	.video_sub_info{
  		border-bottom: 1px solid #ddd;
		padding-bottom: 1em;
		margin-bottom: 2em;
  		a{
  			color: #40c781;
  			font-weight: bold;
  		}
  		.video_description{
  			margin: 3em 0;
  		}
  	}
  	.favorite_button_container{
  		text-align: center;
  		min-height: 60px;
  		span.glyphicon{
			margin-right: 0.7em;
		}
  		img{
  			padding-top: 5px;
  		}
  		.add_favorites,
	  	.remove_favorites{
	  		width: 100%;
	  	}
  	}
  	#video_sidebar{
  		.video_box{
  			margin-top: 1em;
  		}
  	}
}
.favorite_videos_box{
	li.favorite_videos{
		margin-top: 0.7em;
		padding-top: 0.7em;
		border-top: 1px solid #ddd;
	}
	ul.favorite_videos_list{
		li{
			float: left;
			&.favorite_video_img{
				border: 1px solid #DDD;
				padding: 3px;
				border-radius: 3px;
				margin-right: 1.5em;
				background: #f9f9f9;
				max-width: 80px;
				@include box-shadow(0px, 1px, 2px, rgba(0, 0, 0, 0.3));
				@include transition(all, 0.2s, ease-in-out);
				&:hover{
					box-shadow:none;
				}
			}
			&.favorite_video_content{
				font-size: 12px;
				h4{
					margin-top: 0;
					a{
						color: #515a62;
						text-shadow: 1px 1px 1px white;
						font-size: 13px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
.btn.edit{
	color: white;
	padding: 0.75em 1.5em 0.8125em 1.5em;
	line-height: 42px;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	@include transition(all, 0.2s, ease-in-out);
	background: #e74c3c;
	border: none;
	text-shadow: none;
	font-weight: bold;
	margin: 0 0 1em 0;
	border-bottom: 2px solid #CA2B1A;
	width: 100%;
	span.glyphicon{
		margin-right: 0.7em;
	}
	&:hover{
		background: #ff4733;
	}
}