<%= render 'admin/admin_dashboard_tabs', :active_tab => 'dashboard' %>
<div id="dashboard_section" class="admin_dashboard">
  <div class="inner_container">
    <div id="tabs-1">
      	<h2>Welcome, <span class="text-primary"><%= current_user.username %></span></h2>
      	<h1>Analytics Data Export API Script</h1>
    <button id="authButton">Loading...</button>
    <div id="dataControls" style="display:none">
      <p>
        For this user, retrieve the first 50 accounts with view (profile) ID and table ID
        <button id="getAccount">Get Account Data</button>
      </p>
      <p>
        For this view (profile), show visitor type and entrance/exit graphs:
        <input type="text" id="tableId"/> (insert Table ID)
        <button id="getData">Get Report Data</button>
      </p>
    </div>
    <table>
      <tr>
      <td><div id="visitorsDiv"></div></td>
      <td><div id="entrancesDiv"></div></td>
    </tr>
  </table>
  <img src="dummy.gif" style="display:none" alt="required for Google Data"/>
	</div>
  </div>
</div>